<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chi-i-Do</title>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Khula:400,300,700|Quicksand:400,700|Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <script src="js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.22/p5.min.js"></script>

    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
  </head>
  <body>
    <div id="main">
      <div id="background"></div>
      <div id="canvas">
        <div id="sideMenu">
          <h1>氣意道</h1>
          <h2 id="nav-title">Chi I Do</h2>
          <ul id="toggle">
            <li><a href="#sec2">Inception</a></li>
            <li><a href="#sec3">Kayo</a></li>
            <li><a href="#sec4">Classes</a></li>
            <li><a href="#sec5">Sick Photos</a></li>
            <li><a href="#sec6">Chi-I-Do Virtues</a></li>
            <li><a href="#sec7">Dojo Etiquette</a></li>
          </ul>
        </div>
        <nav>
          <img id="logo" src="imgs/chiidoicon.png" alt="">
          <img id="menuicn" src="imgs/menu.png" alt="">
          <div style="clear: both"></div>
        </nav>
        <div id="content">
          <div id="sections">
            <div id="sec1">
              <img class="secImgs" src="imgs/kayo.jpg" alt="">
            </div>
            <div id="sec2">
              <h1 style="font-size: 30pt;">氣意道</h1>
              <h1>Chi-I-Do</h1>
                <p class="auth">By Sensei Kow Loon Ong</p>
                <p>"Chi-I-Do", so what does it mean? I'm sure a few of you know-some of you think you know and many of you, especially the newcomers to the organization, would like to know. This question appears to be fairly simple, however, the answer can be very complex. To give you the full answer I would need much more space than this column permits. Instead, I will give you a brief explanation of the Chi-I-Do crest (our patch),- hopefully, giving you a starting place for further thought. Perhaps the best way to proceed is to break down the Chi-I-Do crest into the following components:</p>
                <div class="contain">
                    <ul id="about">
                      <li>
                        <h3 class="aboutActive">The Shape</h3>
                      </li>
                      <li>
                        <h3>The Design</h3>
                      </li>
                      <li>
                        <h3>
                          The Style
                        </h3>
                      </li>
                      <li>
                        <h3>
                          The Kanji
                        </h3>
                      </li>
                    </ul>

                  <div id="aboutContainer">

                    <div id="shape" >
                      <img id="zencircle" class="rotate" src="imgs/zencircle.png"/>
                      <p>Its a circle, so what? Think again. The circle represents the Zen concept of perfection. It is a form with perfect balance, with no beginning and no end. It has been said that a student of Zen who is able to create a perfect circle with but a single brush stroke is considered to have attained enlightenment.</p>
                    </div>
                    <div id="design" style="display: none;">
                      <div id="logoShape">
                        <div id="logoOuter">
                          <div id="outerW"></div>
                          <div id="outerB"></div>
                          <div id="logoInner">
                            <div id="innerB"></div>
                            <div id="innerW"></div>
                            <div id="innerCircles">
                              <div id="smallW"></div>
                              <div id="smallB"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p>
                        The design contained in the inner circle of the crest embodies the Taoist concept of Yin/Yang. The fact that there are equal portion of black and white is no coincidence. This symbolizes the relationship between the cosmic opposites, i.e.: light/dark, hard/ soft, male/female, good/evil, night/day, etc. You get the picture. Also, take note of the two smallest circles, the ones containing the coinage. Each is set inside a field of the opposite color, just as there must be some Yin within Yang, and vice versa.
                      </p>
                    </div>
                    <div id="kanji" style="display: none;">
                      <p class="kanji">剛柔流</p>
                      Gōjū-ryū
                      <p>
                        剛柔流 (Gōjū-ryū) is the name given to the style of karate taught by our great-grandmaster, Miyagi Chojun. The name was adopted from a verse from the warrior's
                        poem, the Bubishi, which reads "all things in the universe breath hard/soft." Clearly, Miyagi Chojun did not simply mean hard/soft when he named his art Goju. Rather, he was metaphorically referring to the deeper principles of Yin/Yang.
                      </p>
                    </div>
                    <div id="theWords" style="display: none;">
                      <p class="kanji">氣意道</p>
                      Chi-i-Do
                      <p>
                        <b>氣 "Chi"</b> refers to the power of the body and <b>意 "I"</b> to the power of the mind, including the psychic powers. This is yet another reference to the principles of Goju and Yin/Yang. <b>"The Fine Art"</b> directs the manner in which you should approach your training. <b>"Fine"</b> is used to emphasize the attention to detail and fine points of each posture, movement and principle, which is mandatory in training Chi-I-Do Goju-Ryu. This fundamental principle makes Chi-I-Do superior to many other schools of Goju-Ryu.

                        The word <b>"Art"</b> makes it clear that you must go beyond the mere mechanics and scientific principles of the system (which, of course, are also important) and pursue the intangible and to some, the mystical goals which are inherent in any art. <b>"Hard-Soft Kara-te"</b> of course, is the English name of the karate system we practice.

                        For sure, this is not an easy answer to a simple question. For some it may not answer the question at all. But maybe, just maybe, it is enough to give you a starting point for further understanding. Grasp now the "so-called" answer and you will have something that will grow with you as you progress in <b>"The Fine Art of Chi-I-Do Goju-Ryu."</b>
                      </p>
                    </div>
                  </div>
                </div>
            </div>
            <div id="sec3">
              <h1 style="font-size: 30pt;">九龍</h1>
              <h1>Kayo (Kow Loon) Ong</h1>
              <div class="contain">
                <div class="pic">
                  <img src="imgs/kayoseipai.jpg" alt="">
                </div>
                <div id="kayoContainer">
                  Kow Loon Ong, known as Kayo to his friends and students, was four and a half years old when he emigrated to the United States, from mainland China's Toisan Kwantung Province, with his mother in 1954. They resided in the back of the Chinese laundry opened in the south Bronx by his father, who had preceded them at the age of sixteen, in 1919, and then returned to China to marry Kayo's mother. Kayo, his brother, and his sister were conceived on subsequent visits. His brother came to the U.S. in 1957, his sister in 1958.
                  <br><br>
                  Kayo was immediately introduced to the "American Way" as he was bullied by whites, blacks, and latinos. Eventually, he learned that, unfortunately, racism is universal, and comes from all races. These lessons combined with the fact that he was a scrawny, sickly youngster, led him to study the martial arts. Kayo studied several martial arts disciplines before he settled with Okinawan Goju Karate. It was while studying Peter Urban's American Goju system, from 1965 until 1966, with Sensei Thomas Boddie, that he met Sensei Akira Kawakami, a Japanese Okinawan, who brought Okinawan Goju Karate to America through Thomas Boddie's Uptown Dojo. The system was known as Shoreikan Okinawan Karate, with Master Seikichi Toguchi as its head. In 1966, while living in Thomas Boddie's dojo, Sensei Kawakami converted Thomas Boddie and his students to the Shoreikan system. Eventually a young, promising, and dedicated student was invited, along with Sensei Boddie and several others, to take personal hands on training with Sensei Kawakami. Kayo took advantage of this offer, which resulted in his receiving advanced training that took him to a much higher level in the arts. Leaving Sensei Boddie's Uptown Dojo in 1969, Kayo began to teach with Sensei Toshio Tamano at various locations. In 1970, Sensei Tamano and Kayo opened the USA Headquarters Dojo, where the Shoreikan system was propagated.
                  <br><br>
                  In May of 1973, after several years of teaching, Kayo left the Shoreikan system for political and personal reasons. Many senior students, as well as some Shoreikan dojos in the USA and Puerto Rico, opted to leave with him. They became the first generation of the Chi-I-Do system of Okinawan Karate. The name, Chi-I-Do, was actually adopted in 1974. Although Kayo continued teaching after he left Shoreikan, he did not advertise-most of his schools stayed underground. His reputation spread through word of mouth-a few students were taken to him by someone "in the know." In spite of this, the number of students who studied under his tutelage continued to grow and the number of schools run by practitioners who study, or who have studied with him, continues to grow.The number of schools that have changed over from other organizations and systems also continues to increase. Consequently, his organization has schools throughout the United States, Puerto Rico, Canada, Trinidad and Tobago, and Antigua.
                  <br><br>
                  The system of Goju Ryu that Kayo shares with all his students is the same art which he learned, with little or no modifications. Kayo's adherence to the more traditional methods of training is a direct result of his tutelage under Akira Kawakami, as well as his other teachers. Most importantly, he insists on maintaining the same high standards demanded by Akira Kawakami. If anything, Kayo has taken the training one step further with his special ability to teach many students efficiently, while giving each individual the personalized instruction necessary to achieve a high level of proficiency in the art. Perhaps the validity of his instruction has been proven by the acceptance of several of his students who have performed in Okinawa in front of some of the old masters.
                  <br><br>
                  Kayo believes the Okinawan Goju system of karate is one in which the average person can learn and become proficient-providing they are willing to seriously apply themselves. He does not believe in watering down the training to keep or please students. If the art doesn't work for a student when it is really needed, then he has failed as a teacher. Kayo, therefore, teaches the art as it must be taught and most students who teach with his encouragement feel the same way.
                  <br><br>
                  In Chi-I-Do there is no free fighting. Kayo does not believe in pumping iron per se, although there are specially designed traditional pieces of training equipment which can be used to enhance the strength of the techniques for those with deficiencies. Stressing the warm-up as the basic foundation for successfully developing a student's "Goju Ryu body," Kayo points to himself as an example. Few, if any students have been able to match the strength, speed, or agility of this once skinny, sickly person. He stresses kata as the means to learning the system and bunkai and kiso as the means of learning to apply it's techniques. Once this is accomplished he takes the student further. Kayo does deviate from some of the Okinawan instructors' practices in that he doesn't believe in keeping so called "secret techniques" from his students.
                  <br><br>
                  The only limiting factors are the student's ability, attitude, and level of training or rank. One of Kayo's outstanding qualities is his ability to get the best from students who are willing to give their best, thereby enabling them to reach levels of training that they might have thought were beyond them. He merely requires that the student train hard and remember what is taught.
                  <br><br>
                  Train from the heart, give your best and achieve your potential. This is what Kayo teaches. This is our responsibility
                </div>
                <br class="clear" />
              </div>
            </div>
            <div id="sec4">
              <h1>Classes</h1>
              <p>Visitors are welcomed to watch or to attend class.
                <br><br>
                PS 130M The DeSoto School
                <br><br>
                143 Baxter Street (Between Hester Street and Grand Street)
                <br><br>
                New York, NY 10013
                <br><br>

                Used Door Way at Driveway - Closer To Grand Street
                <br><br>

                Tuesdays and Thursdays
                6:30 PM to 8:30 PM
                <br><br>
                Nearby Trains: N Q R 6 B D J Z
              </p>
              <div id="map"></div>
            </div>
            <div id="sec5" class="contain">
              <h1>Photos</h1>
              <div id="slideshowBG"></div>
                <div id="slideshow">
                    <ul id="pics">
                      <%files.forEach(function(pic){%>
                        <li><img class="thumbpic" src="imgs/slideshow/<%=pic%>" ></li>
                      <%})%>
                    </ul>
                    <div id="showpic">
                      <img src="imgs/slideshow/<%=files[0]%>"/>
                    </div>
                </div>

            </div>
            <div id="sec6">
              <h1>Chi-I-Do Virtues</h1>
              <ul class="lists virtues">
                <li> COURTESY: <span class="virtue">One must be respectful to all people and to be respectful to ourselves.</span></li>
                <li> LOYALTY: <span class="virtue">One must be loyal to the organization, the Sensei or instructors, classmates, family and friends.</span></li>
                <li> KINDNESS: <span class="virtue">One will refrain from making negative statements about anyone. One should always strive for what is good and correct. To work toward harmony between all people and always keep in mind of others' well being.</span></li>
                <li> COURAGE: <span class="virtue">One must never surrender to the enemy. To correct what we know is wrong and to succeed in one goals or intentions. We will utilize our skills to help and defend the defenseless, our family, friends and our honor.</span></li>
                <li> JUSTICE: <span class="virtue">One needs to know that we are all equal, to understand that we all have weakness. One must never be arrogant and always be humble. One must refrain in giving unnecessary displays of one abilities.</span></li>
                <li> DISCIPLINE: <span class="virtue">Refrain from violence. One must always exercise self-control and to always finish what is started.</span></li>
                <li> STRENGTH: <span class="virtue">To be strong always! To develop an indomitable spirit and to develop one's will to be like steel, for this is the way of the martial arts.</span></li>
                <li> HONOR: <span class="virtue">One must refrain from wrong doings, which can to bring shame on upon us and oneself, for we represent the heritage of correctness, as those before us have preserved. To be honorable, one must be honorable to others.</span></li>
              </ul>
            </div>

            <div id="sec7">
              <h1>Dojo Etiquette</h1>
              <ol class="lists">
                <li> Always try to be on time for training and train with passion when you are on the Dojo floor.</li>
                <li> Always bow upon entering and leaving the Dojo floor. Bowing is a sign of respect and appreciation for the Dojo and the others who share the Dojo floor.</li>
                <li> All requests of assistance in training should be prefaced with a bow accompanied by a clear and loud audible enunciated: "PLEASE TEACH ME!" or (O Nei Gai Shi Mas!). Assistance offered, should be acknowledged by a bow accompanied by an equally clear and loud audible enunciated: "THANK YOU VERY MUCH!" or (Ari Gato Go Sai Mas Shi Ta!).</li>
                <li> Seniors will treat and teach their juniors kindly. Juniors must always respect rank and seniority.</li>
                <li> All students, regardless of rank, are responsible for keeping the Dojo clean. All ranks will have their chores, with the lowest rank assigned first.</li>
                <li> When training with an instructor or Sensei: "PAY ATTENTION TO THE INSTRUCTIONS AND COMMANDS." All students must respond to the commands quickly and sharply. Listen carefully and respectfully to any advice given to you by the Instructor or Sensei even if you have heard it before and acknowledge that you heard it and understood it.</li>
                <li> Juniors should feel free to ask seniors about materials assigned to them. Students should not concern themselves with materials beyond their level. Katas and others Forms or materials, will be taught by the Instructor or Sensei at the time that is deemed appropriated.</li>
                <li> Always be aware of personal hygiene. Finger and toe nails must be kept trimmed to prevent injuries to other working that you are working with. All jewelry must be removed to prevent injuries to oneself as well as to others. Gis or other attires worn must be clean and presentable. They must be washed and be in wearable and respectable condition. A clean body, internally as well as externally, is as important as clean training attire.</li>
                <li> Respect others in their performance, as you would like others to respect you. Show appreciation for good performances, refrain all remarks and gestures upon poor performances. Remember, you made mistakes too.</li>
                <li> When observing training on the Dojo floor, refrain from talking, making noise and unnecessary movements or negative gestures. If sitting on the floor, sit properly the perimeter of the floor, with both legs crossed, or in lotus posture with you hands in your lap with the proper respectable body poise. If standing, stand still with the same proper respectable poise.</li>
                <p>REMEMBER, ANYONE CAN DO MARTIAL ARTS AND TO BEHAVE ARROGANT AND UNRULY, BUT THESE ARE NOT THE WAYS TO BECOME A WELL BRED MARTIAL ARTIST AND TO BE RESPECTED BY OTHERS IN SOCIETY.</p>

              </ol>
            </div>


          </div>

          <div id="footer">
            <img id="footlogo" src="imgs/chiidoicon.png" alt="">
            <a href="https://www.facebook.com/groups/2405654391/"><img src="imgs/fbicon.png"></a>
            <a href="http://www.cidio.net/"><img src="imgs/ws.gif"></a>
          </div>
        </div>
      </div>

    </div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3"></script>
    <script src="js/bo.js" charset="utf-8"></script>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
